<form method="POST" action="/pirates" >
<label for="pirate_name"> Pirate Name </label>
<input type="text" id="name" name="pirate[name]">
<label for="weight"> Pirate Weight </label>
<input type="text" id="weight" name="pirate[weight]">
<label for="height"> Pirate Height </label>
<input type="text" id="height" name="pirate[height]">
<label for="name"> Ship #1 Name </label>
<input id="ship_name_1" type="text" name="pirate[ships][][name]">
<label for="type"> Ship #1 Type </label>
<input id="ship_type_1" type="text" name="pirate[ships][][type]">
<label for="booty"> Ship #1 Booty </label>
<input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
<label for="name"> Ship #2 Name </label>
<input id="ship_name_2" type="text" name="pirate[ships][][name]">
<label for="type"> Ship #2 Type </label>
<input id="ship_type_2" type="text" name="pirate[ships][][type]">
<label for="booty"> Ship #2 Booty </label>
<input id="ship_booty_2" type="text" name="pirate[ships][][booty]">

<input type="submit" value="Submit"> 
</form> 
